{% extends "layout.html" %}
{% block title %}Competition Details{% endblock %}
{% block page %}UWI Competitions Platform{% endblock %}

{{ super() }}

{% block content %}
<div style="display: flex;">
    <div>
        <center><h2 style = "color:white;">Competition Details</h2></center>
    </div>
    <div>
        {% if session['user_type'] == 'moderator' and moderator in competition.moderators and not competition.confirm %}
        <button type="button">
            <a href="{{ url_for('comp_views.add_results_page', comp_id=competition.id) }}">Add Results</a>
        </button>
        <button type="button">
            <a href="{{ url_for('comp_views.confirm_results', comp_name=competition.name) }}">Confirm Results</a>
        </button>
        {% endif %}
    </div>
</div>

<div class="container">
    {% if not competition.confirm %}
        <center><h4 class="competition-status">{{ competition.name }} Unofficial Results</h4></center>
    {% else %}
        <center><h4 class="competition-status">{{ competition.name }} Official Results</h4></center>
    {% endif %}

    <table class="competition-table">
        <thead>
            <tr>
                <th><center>Rank</center></th>
                {% if competition.type == "team" %}
                    <th><center>Team</center></th>
                    <th><center>Members</center></th>
                {% else %}
                    <th><center>Student</center></th>
                {% endif %}
                <th><center>Score</center></th>
            </tr>
        </thead>
        <tbody>
            {% for row in leaderboard %}
                <tr>
                    <td><center>{{ row['placement'] }}</center></td>
                    {% if competition.type == "team" %}
                        <td><center>{{ row['team'] }}</center></td>
                        <td>
                            {% for student in row['members'] %}
                                <center><a href="{{ url_for('index_views.student_profile_by_name', name=student) }}">{{ student }}</a></center>
                            {% endfor %}
                        </td>
                    {% else %}
                        <td><center><a href="{{ url_for('index_views.student_profile_by_name', name=row['student']) }}">{{ row['student'] }}</a></center></td>
                    {% endif %}
                    <td><center>{{ row['score'] }}</center></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div style="padding: 20px;"></div>
{% endblock %}
