{% extends "layout.html" %}
{% block title %}Competition Creation{% endblock %}
{% block page %}UWI Competitions Platform{% endblock %}

{{ super() }}


{% block content %}


<div class="signup-page"> 
  <style>
    .signup-page .input-field label {
    color: #333; 
    font-size: 1.3rem;
    font-weight: bold;
    
}

.signup-page .input-field label {
    position: absolute; 
    top: -12px; 
    left: 0px; 
    font-size: 1.1rem; 
    font-weight: bold;
    color: #333; 
    padding: 0 5px; 
}

.signup-page .input-field input {
    width: 100%; 
    color: #333; 
    border: 1px solid #6e6e6e; 
    border-radius: 4px; 
    font-size: 1rem; 
}
.signup-page .card-title h5 {
    color: #222; 
    margin-bottom: 20px; 
    text-align: center; 
}

.signup-page .btn {
    background-color: #444; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 4px; 
    font-size: 1.5 rem; 
}

.signup-page .btn:hover {
    background-color: #555; 
}

body {
    background-color: #f8f9fa; 
    color: #212529; 
}
.signup-page .center {
    max-width: 600px; 
    margin: 50px auto; 
    padding: 20px; 
    background-color: #fbfbfb; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
  </style>
   <div class="center">
  <form name="addForm" method="POST" action="/createcompetition">

    <div class="card-content" >

      <span class="card-title"> <h5>Create Competition </h5> </span>

        <div class="input-field">
          <input type="text" name="name" placeholder="Enter Comp Name" class="materialize-textarea" required>
          <label for="name">Competition Name</label>
        </div>

        <div class="input-field">
          <input type="date" name="date" required>
          <label for="date">Competition Date</label>
        </div>

        <div class="input-field">
            <input type="text" name="location" placeholder="Enter Comp Location" class="materialize-textarea" required>
            <label for="location">Competition Location</label>
        </div>

        <div class="input-field">
            <input type="number" name="level" placeholder="Enter Comp Level" min="1" max="5">
            <label for="level">Competition Level</label>
        </div>

        <div class="input-field">
            <input type="text" name="max_score" placeholder="Enter Max Value" class="materialize-textarea" required>
            <label for="max_score">Competition Max Value</label>
          </div>

          <div class="input-field">
            <input type="text" name="type" placeholder="Enter Type" class="materialize-textarea" required>
            <label for="type">Competition Type |Team|Single|</label>
          </div>

      </div>

      <div class="card-actions">
        <div class="row">
          <div class="col s12">
            <input type="submit" class="btn right" value="Create Competition">
          </div>
        </div>
      </div>
     
    </form>
  </div>
</div>
{% endblock %}
