{% extends "layout.html" %}
{% block title %}Homepage{% endblock %}
{% block page %}UWI Competitions Platform{% endblock %}

{{ super() }}

{% block content %}
<div class="container">
    <div class="tables-container">
        <div class="leaderboard-table">
            <center>
                <h2>Leaderboard</h2>
            </center>
            <table class="table">
                <thead>
                    <tr>
                        <th><center>Overall Rank</center></th>
                        <th><center>Username</center></th>
                        <th><center>Rating Score</center></th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in leaderboard[:20] %}
                    <tr>
                        <td><center>{{ student['placement'] }}</center></td>
                        <td><center><a style = "color:white; font-family: 'playfair display' " href="{{ url_for('index_views.student_profile_by_name', name=student['student']) }}">{{ student['student'] }}</a></center></td>
                        <td><center>{{ '%0.2f' % student['rating score']|float }}</center></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div style="padding: 20px;"></div>
{% endblock %}
