{% extends "layout.html" %}
{% block title %}Homepage{% endblock %}
{% block page %}UWI Competitions Platform{% endblock %}

{{ super() }}

{% block content %}

</style>
<div class="container">
    <div class="tables-container">
        <div class="leaderboard-table">
            <center>
                <h2 style="color: white; background-color: black; border-radius: 15px;">Leaderboard</h2>
            </center>
            <table class="table" style="font-family: verdana;">
                <thead>
                    <tr style="color: white;">
                        <th><center>Overall Rank</center></th>
                        <th><center>Username</center></th>
                        <th><center>Rating Score</center></th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in leaderboard[:20] %}
                    <tr style="color: white;">
                        <td><center>{{student['placement']}}</center></td>
                        <td><center><a style= "color: white;" href="{{url_for('index_views.student_profile_by_name', name=student['student'])}}">{{ student['student']}}</a></center></td>
                        <td><center>{{'%0.2f' % student['rating score']|float}}</center></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div style="padding: 20px;"></div>
{% endblock %}
