{% extends "layout.html" %}
{% block title %}Login Page{% endblock %}
{% block page %}UWI Competitions Platform{% endblock %}

{{ super() }}

{% block content %}


<!-- Reusing format from signup page bc in essence its same thing -->
<div class="signup-page"> 
    <div class="center">
        <h2>Login</h2>
        
        <form action="{{ url_for('auth_views.login') }}" method="post">
            <div class="txt_field">
                <input type="text" id="username" name="username" required>
                <label for="username">Username:</label>
            </div>

            <div class="txt_field">
                <input type="password" id="password" name="password" required>
                <label for="password">Password:</label>
            </div>

            <input type="submit" class="btn black" value="Log In">
        </form>

        <div class="login_link">
            Not a user? 
            <a href="{{ url_for('auth_views.signup') }}" class="signup-link">Sign Up</a>
        </div>
    </div>
</div>
 
{% endblock %}