{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block page %}UWI Competitions Platform{% endblock %}

{{ super() }}

{% block content %}

<div class="student-profile">
    <div class="headers">
        <div>
            <h2 style="color: white; padding-left: 50px; text-align: center;">Welcome, {{moderator.username}} </h2>
        </div>

        
        
    </div>

    <!--Profile image container-->
    <div class="profile-info">
        <div class="student-info">
            <div class="student-image">
                <center><img src="{{url_for('static', filename='moderator2.png')}}" alt="Student Photo" width="80%"></center>
            </div>
            <div class="student-username">
                <p>{{moderator.username}}</p>
            </div> 
        </div>
   
        
        <div class="results-info">
            <!-- Ranking History Section -->
            <div class="ranking-history-container">
                <h4 class="ranking-header">Participation History</h4>
                <table class="ranking-history-table">
                    <thead>
                        <tr>
                            <th>Competition Name</th>
                            <th>Competition Results</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for competitions in moderator.competitions[::-1] %}
                        <tr>
                            <td style="color: white;">{{ competitions.name }}</td>
                            <td>
                                <a href="{{ url_for('comp_views.competition_details_by_name', name=competition) }}" style="color: white; text-decoration: underline;">Details</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>
 
</div>

<!-- Participation/Competition Listing Section -->
  


{% endblock %}
