{% extends "layout.html" %}
{% block title %}Signup Page{% endblock %}
{% block page %}UWI Competitions Platform{% endblock %}

{{ super() }}

{% block content %}
<div class="signup-page">
<div class="center">
    <h2>Sign Up</h2>
    
    <form action="{{ url_for('auth_views.signup') }}" method="post">
        
        <div class="txt_field">
            <input type="text" id="username" name="username" required>
            <label for="username">Username:</label>
        </div>

        <div class="txt_field">
            <input type="password" id="password" name="password" required>
            <label for="password">Password:</label>
        </div>

        <input type="submit" class="signup_link" value="Sign Up">
    </form>
    
    <div class="login_link">
        Already a user? 
        <a href="{{ url_for('auth_views.login') }}" class="login-link">Log In</a>
        </div>
    </div>
</div>
{% endblock %}
