{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block page %}UWI Competitions Platform{% endblock %}

{{ super() }}

{% block content %}

<div class="student-profile">
    <div class="headers">
        <div>
            <h2 style="color: white; padding-left: 50px; text-align: center;">Welcome, {{student.username}} </h2>
        </div>

        <!-- Side Panel-->
        <div id="sidepanel" class="sidepanel" style="font-family: Playfair Display;">
            <div class="sidepanel-header">
                <div class="sidepanel-title">
                    <h4>Notifications</h4>
                </div>
                <div class="sidepanel-closebutton">
                    <button onclick="closeNav()">X</button>
                </div>
            </div>
            <div class="sidepanel-content">
                <ul>
                    {% for notification in student.notifications[::-1] %}
                        <li>{{ notification.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% if user.is_authenticated and user.id==student.id and session['user_type'] == 'student' %}
        <div class="openbutton">
            <img class="mail-icon" src="{{url_for('static', filename='mailIcon.jpg')}}" alt="Notifications" onclick="openNav()">
        </div>
        {% endif %}
    </div>

    <!--Profile image container-->
    <div class="profile-info" style="font-family: helvetica;">
        <div class="student-info">
            <div class="student-image">
                <center><img src="{{url_for('static', filename='defaultprofile.png')}}" alt="Student Photo" width="80%"></center>
            </div>
            <div class="student-username">
                <p>{{student.username}}</p>
            </div> 
        </div>
   
        
        <div class="results-info">
            <span class="ranking-info">
                <div class="rank">
                    <p>Rank</p>
                    {% if student.curr_rank == 0 %}
                    <p>Unranked</p>
                    {% else %}
                    <p>{{student.curr_rank}}</p>
                    {% endif %}
                </div>
                <div class="rating-score">
                    <p>Rating Score</p>
                    <p>{{'%0.2f' % student.rating_score|float}}</p>
                </div>
            </span>

            <!-- Ranking History Section -->
    <div class="ranking-history-container">
        <h4 class="ranking-header">Ranking History</h4>
        <table class="ranking-history-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Rank</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for history in student.ranking_history[::-1] %}
                <tr>
                    <td>{{ history.date.strftime('%Y-%m-%d') }}</td> <!-- Format date to remove time -->
                    <td>{{ history.rank }}</td>
                    <td>{{ "%.2f" | format(history.rating) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
 
</div>

<!-- Participation/Competition Listing Section -->
  
<section class="wrapper">
    <table class="competition-table">
        <thead>
            <h4 style="color: white; padding-left: 50px; text-align: center; font-style: 'playfair display'"> Participation History </h4>
        </thead>
        <thead>
            <tr>
                <th>Competition Name</th>
                <th>Competition Results</th>
            </tr>
        </thead>
        <tbody >
            {% for competition in competitions[::-1] %}
            <tr>
                <td>{{ competition }}</td>
                <td>
                    <a href="{{ url_for('comp_views.competition_details_by_name', name=competition) }}" style="color: white; text-decoration: underline;">Details</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</section>

{% endblock %}
